<?xml version="1.0" encoding="UTF-8"?>
<suite name="parallel Suites" parallel="tests">
  <listeners>
        <listener class-name="com.A3test.pages.Listener.class" />
    </listeners>
  <test name="Test">  
    <classes>            
     <!--   class name="suite1.Login" -->
      <class name="com.A3test.pages.LoginTest"/>
      
    </classes>
  </test>
   </suite>